[2015-11-17 12:35] GhaziTriki opened #18 "Use sdkman to install java compiling tools"
This is a reminder task to propose a pull request for installing groovy, grails and sbt using sdkman.

[2016-02-03 10:55] fcecagno opened #22 "Use rbenv to install and manage the required ruby version"
As far as I understand, there's nothing that really requires Ubuntu 14.04 to develop this site, correct? The only real requirement is a specific version of Ruby. We use rbenv (https://github.com/rbenv/rbenv) to install and manage multiple Ruby versions in the same machine, which makes very easy to install and test a deployment using a different version. The only thing we'd need to do is to create

[2016-02-28 09:24] GhaziTriki opened #25 "Obselete fixed issues links"
The fixed issues google code links became obselete after moving issues to gihub

https://github.com/bigbluebutton/bigbluebutton.github.io/blob/master/_posts/2015-04-04-release-notes.md#fixed-issues

https://github.com/bigbluebutton/bigbluebutton.github.io/blob/master/_posts/2015-04-04-release-notes.md#fixed-issues-1

https://github.com/bigbluebutton/bigbluebutton.github.io/blob/master/_posts/2015-

[2018-07-25 09:02] GhaziTriki opened #81 "Create a topic or a page to explain bigbluebutton.properties configuration"
Currently we have no topic or page that explains bigbluebutton.properties configuration entries and their impact on meetings. All what we have are scattered discussions over the forums.

[2019-04-26 18:45] #18 closed, assigned to nobody

[2019-06-27 22:16] farhatahmad opened #104 "Greenlight Admin instructions are incorrect after postgres change"
The Admin create command no longer works after the changes to postgres. The docs should be updated so that users can create admin accounts

[2019-07-30 18:49] #22 closed, assigned to nobody

[2019-07-31 11:02] #25 closed, assigned to nobody

[2019-08-06 18:51] #104 closed, assigned to farhatahmad

[2020-04-20 15:28] znerol opened #126 "Configuration for FreeSWITCH with NAT and dummy NIC is unnecessary complicated"
I was mildly surprised by the complicated instructions in the docs on how to setup FreeSWITCH behind a NAT, especially by the [dummy NIC](http://docs.bigbluebutton.org/2.2/configure-firewall.html#configure-a-dummy-nic-if-required) section.

Before presenting a solution which is much less complicated, let's look at how FS is working behind a NAT. As pointed out in various places, it is necessary to

[2020-05-01 17:20] basisbit opened #136 "Documentation for GDPR compliant setup"
The goal of this issue is to collect suggestions + tasks for a documentation page on how to set up BBB in compliance to GDPR and similar data privacy & protection regulations around the world.

### Tasks
- [x] collect various configuration files where to change logging settings to not log any "private" / person-identifiable data and how to change them
- [x] collect various places where legally req

[2020-05-01 17:37] ichdasich commented on #136
I would add, logging wise:
- the coturn logs on the turn server; So far I could only disable this by making it log to /dev/null

and recording wise:
- Obtaining consent for recordings before users join the meeting with enabled recordings (should be documented that this is a _frontend_ task though; Should also be implemented in greenlight) and document record=true/false implications
- Complex: thin

[2020-05-01 18:13] basisbit commented on #136
@ichdasich could you maybe add the configuration files locations and what setting names to change for some of your suggestions?

[2020-05-01 18:27] ichdasich commented on #136
Will do so in the next days (exam grading time atm). Question is whether it might not make more sense to create a repo for this to keep things structured.

[2020-05-04 21:31] zner0L commented on #136
If users opt to keep recording files and logs, they should know and change:
- the duration for which to keep to keep the recording files in /etc/cron.daily/bigluebutton
- the logrotate setttings in /etc/logrotate.d

Also, I think the default values should be clearly documented somewhere, so that users can incorporate them into their privacy policy, maybe even in a sample policy. I think it might b

[2020-05-04 21:34] zner0L commented on #136
I would generally say this documentation is also useful for non-EU users for whom the GDPR might not be relevant, but privacy feature are. Some users could choose to implement privacy features without being legally forced to do so ;) So maybe lets not (only) call this a GDPR compliant setup but rather a user privacy documentation.

[2020-05-06 18:39] scg-on-github commented on #136
I am just working on a compilation of data being processed in order to create a privacy statement for BBB according to GDPR. So I'm highly motivated to support your effort.

[2020-05-06 20:22] ichdasich commented on #136
@scg-on-github See the (not yet GDPR compliant) one based on the one of bbb.com used on the instance I am running here: https://bbb.surfcloud.nl/b/terms

Will now setup a small repo for the doc, so we can actually have some structure in the data collection.

[2020-05-06 20:29] ichdasich commented on #136
Ok, put up the repo here: https://github.com/ichdasich/bbb-privacy

Will now integrate all information from this ticket.

[2020-05-06 20:41] ichdasich commented on #136
ok, information from the ticket should be in; Will do a swipe tonight to fill all the empty parameters we have there atm.

[2020-05-06 20:45] ffdixon commented on #136
Just following this issue -- this is good work guys.  Once you have something ready, we'd like to merge it into the official docs.  https://github.com/bigbluebutton/bigbluebutton.github.io

[2020-05-06 20:55] ichdasich commented on #136
As it already contains contributions from @basisbit and @zner0L ; We should maybe briefly talk about licensing for that repo. Any preferences? GDPL? LGPL as BBB?

[2020-05-06 21:22] basisbit commented on #136
personally I don't care, my provided information can be considered CC0 / Public Domain. I also don't think we need an extra repository for this. Maybe an etherpad link would have been enough.
Anyways, please don't forget that this still counts: https://docs.bigbluebutton.org/support/faq.html#why-do-i-need-to-sign-a-contributor-license-agreement-to-contribute-source-code

Also, I just added some of

[2020-05-06 21:24] ffdixon commented on #136
If your cool with sending a pull request (and have signed a contributor agreement), we'll gladly merge it in and make it a supported part of the documentation.

[2020-05-06 21:44] ichdasich commented on #136
@basisbit yeah, just don't have an etherpad handy. ;-)

@ffdixon I am not sure whether I will be able (time wise) to bring this up to a standard that warrants a pull request. Furthermore, CLAs and me are a difficult storry. ;-) Would spilling it out with CC0/PD so someone with a contributor agreement can just grab it work for you?

[2020-05-06 22:03] basisbit commented on #136
Any ideas about what to write regarding how to handle other typical GDPR processes?
- how can the user request a file-download of all the "person-related"/private data from ALL sources including logs and so on
- how can the user request deletion of their "person-related"/private data (**right to erasure**)? How would that work for session recordings? Could students troll their teachers by just req

[2020-05-06 22:06] basisbit commented on #136
maybe @ffdixon could provide some insights on how the BBB company handles GDPR related processes for European customers? Do any publicly available tools / scripts exist that help with complying to the process requirements which I mentioned in my previous post in this thread here?

[2020-05-06 22:16] ichdasich commented on #136
Some insight there would be good. I actually discussed the deletion/hand-over issues with some of the privacy researchers at my institution. Depending on how privacy preserving you run your setup (for the instance back then, I redirected all logs to /dev/null etc. and did not enforce any user names, i.e., joining rooms was anonymous) this is a really hard task.

Basically, we have no way of verify

[2020-05-06 23:05] ichdasich commented on #136
Ok, I finished putting everything I encountered while rooting a BBB setup into https://github.com/ichdasich/bbb-privacy ;

Comments and additions appreciated.

[2020-05-06 23:13] ffdixon commented on #136
We took a shot two years ago at writing some scripts to handle a GDPR request (retrieve personal data/deleted personal data) for a recording.  See https://github.com/bigbluebutton/gdpr.

The script may not work now, but it could should form the basis for creating better support for GDPR in the current version of BigBlueButton.

[2020-05-06 23:18] ichdasich commented on #136
Thanks!
One thing that immediately comes to mind is that this most likely will not work with a scalelite setup, where there are no local recordings. Will take a look in the coming days though.

[2020-05-06 23:31] basisbit commented on #136
@ichdasich could you please take a look at my first post here in this thread again and include my changes into your documentation? (especially related to the STUN/TURN servers, how to disable event storing + recording + the need to uncomment the line `remove_raw_of_published_recordings`?

[2020-05-06 23:34] ichdasich commented on #136
@basisbit ah, missed that you updated it, sorry. Will integrate! The need to uncomment remove_raw... is already in, btw. ;-)

[2020-05-07 00:05] ichdasich commented on #136
@basisbit concerning the google stun server in the JS file; are you sure this is being used and not overwritten by /usr/share/bbb-web/WEB-INF/classes/spring/turn-stun-servers.xml ? Just put tcpdump on my link, and did not see any outbound to that host, nor on the corresponding port.

[2020-05-07 00:21] basisbit commented on #136
Not sure. That code is quite a mess and I wasn't able to find the code yet, where the Google STUN would be replaced. My guess would be that the Google STUN is used as fallback by the sip.js code.

[2020-05-07 00:25] ichdasich commented on #136
Moving this as a problem for tomorrow me; Will retest with a system which does not have anything configured in /usr/share/bbb-web/WEB-INF/classes/spring/turn-stun-servers.xml

[2020-05-07 03:31] prlanzarin commented on #136
@basisbit  @ichdasich If I may chip in on what I can:
  - bbb-webrtc-sfu logs: can be disabled by setting `log.level: none` in /usr/local/bigbluebutton/bbb-webrtc-sfu/config/default.yml. No logs will be generated at all, either to stdout, stderr or file.
  - kurento logs: I see you got it covered in the privacy repo. Need any more help, ping me, but setting it to `1` on systemd unit file (location

[2020-05-08 15:00] basisbit commented on #136
How about we try to get a first version of the text ready and create a pull request this weekend?

Currently, an introduction to the topic is missing. Maybe something like this could be used for a start:

[2020-05-08 15:51] ichdasich commented on #136
Heho,
will try to do the merging of points from above tonight (hopefully). However, I am usually not working on weekends... If you want to, could you maybe do the forking and integrating into the documentation repo?

[2020-05-08 16:13] basisbit commented on #136
Sure, can do that. Just please don't sue me any time for copying your text :P Just kidding. Whenever you are done with your changes, just write a notification here, so I know that I can start.

[2020-05-08 23:22] ichdasich commented on #136
@basisbit I am mostly done integrating. Should be fine to port now

@prlanzarin Do you have more information on the local fallback for kurento?

[2020-05-09 22:10] #136 closed

[2020-05-17 19:01] Sea444 opened #144 "Release informations outdated"
https://docs.bigbluebutton.org/support/release-notes.html shows 2.2-RC as newest release. Either update this page, or simply add a reference to https://github.com/bigbluebutton/bigbluebutton/releases.

[2020-05-17 21:44] ffdixon commented on #144
Removed the '-RC'

[2020-05-17 21:44] #144 closed

[2020-05-21 04:43] prlanzarin commented on #136
@ichdasich @basisbit https://github.com/bigbluebutton/bigbluebutton/pull/9623 had to fix some stuff regarding STUN/TURN usage and bolted in the removal of hardcoded 3rd-party fallback STUNs

[2020-05-21 21:56] ichdasich opened #145 "[Security] Documentation still recommends the use of SHA1"
At the moment the documentation still recommends the use of SHA1, see: https://docs.bigbluebutton.org/dev/api.html#usage

Given the security implications of SHA1, see https://github.com/bigbluebutton/bigbluebutton/issues/9634, this should be updated to recommend SHA256.

[2020-05-21 21:58] ffdixon commented on #145
Agreed -- we do support SHA256.  Could you possibly send us a pull request to update?

[2020-05-21 23:18] ichdasich commented on #145
Hm, digging further into this there are some more implications. Might drop you an email later.

Also, before updating the docs it might be good to also address https://github.com/blindsidenetworks/scalelite/issues/221 ; Otherwise there would be an inconsistency, and tools following the docs running against scalelight would break.

[2020-05-29 18:33] BrentBaccala opened #147 "Explain need for unencrypted TURN sessions"
The suggested STUN/TURN configuration file currently configures the client to attempt a secure connection to port 443 and then fall back to an insecure connection to port 443.

Investigation has [shown](https://groups.google.com/d/msg/bigbluebutton-dev/6KyVh6jddew/G1GXX_S3AQAJ) that iPhones, and probably other Apple devices using the Safari web browser, can not support secure TURN connections, and

[2020-05-30 11:56] ffdixon commented on #147
Thanks for the feedback.  Would you be willing to make some suggested edits and send a pull request for review?

[2020-05-31 20:23] BrentBaccala commented on #147
The current TURN documentation ("Configure TURN" in `2019-02-14-setup-turn-server.md`) makes several statements that aren't well supported.  I'll remove them unless they can be justified:

1. "We recommend using a minimal server installation of Ubuntu 18.04."

    I use Ubuntu 16.04 because it's the current recommendation for bbb, and I run coturn and bbb on the same server.  Any reason not to use

[2020-05-31 20:36] basisbit commented on #147
The sole purpose of the TURN server is to provide access in environment with strict firewall configurations. Running coturn on any other port than tcp 443 thus impacts availability of the service. You can do that, but it is not recommended and is known to cause issues.
The Ubuntu 18.04 suggestion is mostly because of the old coturn version of Ubuntu 16.04 with default package repositories has a bu

[2020-05-31 21:49] BrentBaccala commented on #147
Is it?  Isn't it a fairly standard NAT configuration to forward outbound TCP but block UDP?  And we need TURN in that situation, right?

Please correct me if I'm wrong.  Right now, I'm running TURN on port 5349, and it seems like I've got clients behind fairly conventional firewalls (i.e, Verizon's standard NAT service for their mobile devices) that require it to operate.

I'm thinking about citin

[2020-05-31 22:04] basisbit commented on #147
You can run the STUN/TURN server on pretty much any usual VM that has good network connection. Not much CPU needed per BBB server, and it scales quite well. Also you can run one STUN/TURN server per a bunch of BBB servers.
Even today, you'll still get at least one public IPv4 address per machine that you order in a typical datacenter. personally, I'd suggest to not run the hardware somewhere in yo

[2020-06-01 00:50] BrentBaccala commented on #147
Do you remember any of the specific issues associated with the older coturn?

Can they be resolved by simply building from the github source?

If so, we could include a statement like:

[2020-06-01 01:04] basisbit commented on #147
I only joined this project a few months ago. Since then I read hundreds of issues and many mailing list discussions, but I don't remember which issue number exactly was about this.
I'd never recommend building software from source and then ending up not getting any security updates for that, especially when it is an internet facing public service.

Maybe it would be easier to just wait for BBB 2.3

[2020-06-01 02:24] BrentBaccala commented on #147
Until BBB 2.3 comes out, could we recommend running the Ubuntu 18.04 coturn in a docker container on Ubuntu 16.04?

[2020-06-01 02:26] basisbit commented on #147
if you get that to work and thus can test it, sounds good

[2020-06-01 21:46] BrentBaccala commented on #147
I'm now thinking that a dockerized coturn will have the same problem you pointed out with installing from source - no security updates.

[2020-06-01 21:48] basisbit commented on #147
of course that dockerized coturn has to be updated regularly. That is the case for any software, in any configuration.

[2020-06-10 13:29] miralin opened #153 "Missed variable in feedback activation script"
There is a missed variable $PROTOCOL in the script for feedback activation http://docs.bigbluebutton.org/2.2/customize.html#collect-feedback-from-the-users
"$PROTOCOL://$HOST/html5log"
Which results to such weird line in config
external: {enabled: true, level: info, url: '://example.com/html5log', method: POST,

[2020-06-14 06:57] matiasilva commented on #81
Since this was added two years ago, I'm not sure what the status was then however as it stands the current documentation in the form of comments is quite adequate. Consider closing this issue.

[2020-06-21 18:58] dasJ opened #169 "Port range for FreeSWITCH is wrong in diagram"
In images/22-connections.png, the external port range for FreeSWITCH ranges from 15634, however the real FreeSWITCH configuration begins its range at 16384.
I would fix that, but the sources of the diagram are not available.

Also, both the RAP scripts and bbb-web seem to connect to etherpad, those connections are missing as well.

[2020-06-21 20:40] ffdixon commented on #169
Fixed the port range -- investigating whether the other components make a socket connection to etherpad

[2020-07-25 16:07] VasasA opened #180 "New integration - Backdrop CMS"
BigBlueButton has got a new integration with Backdrop CMS: https://backdropcms.org/project/bbb
Please add it to the list of integrations: https://bigbluebutton.org/integrations/
Thanks!

[2020-07-27 12:28] basisbit commented on #180
@VasasA the Drupal bbb integration repository on github doesn't contain any license information. What is the source for the GPLv2 licensing of the backdropcms bbb integration?

[2020-07-27 14:20] VasasA commented on #180
(It isn't Drupal, it is the Backdrop CMS.) Repo of the integration module with LICENSE.txt (GPLv2):
https://github.com/backdrop-contrib/bbb
Thank You!

[2020-07-27 14:36] basisbit commented on #180
@VasasA I saw that. I was asking there that license is coming from, as your fork is based on the Drupal 7 plugin with only minor changes. One of your changes was to add a LICENSE file, thus the question for where that license information is coming from.

[2020-07-27 19:29] laryn commented on #180
@basisbit Thanks for being pro-active in following the licensing. In this case, all modules that are committed to Drupal git repos agree to be licensed with GPL-2.0 or later. See:

 - https://www.drupal.org/about/licensing#project-licensing

[2020-07-27 22:39] VasasA commented on #180
Thank You @laryn !

[2020-07-30 21:50] spblinux commented on #126
Tested with bbb 2.3-dev and with bbb 2.2.21 using _local dns pointing to local ipv4 address of bbb server_:

- version 2.2.21 in my setup did not work with _local-network-acl_ set to _none_; dummy ip address required.
(partly non default setup: port 7443 opened through nat and in external.xml
\<param name="wss-binding"  value="EXTERNAL_IP_ADDRESS:7443"/\>)

- version 2.3-dev in my setup did work w

[2020-08-01 05:26] hiroshisuga opened #182 "Examples of the best setting depending on meeting types"
I have an impression that the software has a lot of room for optimization depending on the style of meetings. I started to use BBB already 3 months ago but still many new findings day after day! This is great but sometimes feel stressed.

What about a chapter of setting examples recommended for specific meeting types?
For instance,
- Typical meeting in a small group in which everybody speaks with

[2020-08-13 22:05] cyphase opened #185 "New integration available: Zulip"
[Zulip](https://github.com/zulip/zulip/) recently [integrated](https://github.com/zulip/zulip/pull/14775) BigBlueButton as a [video chat provider](https://zulip.com/help/start-a-call) option. It would be great if it could be added to the [list of integrations](https://bigbluebutton.org/integrations/).

Please let me know if there's a more appropriate place to put this request.

[2020-08-28 13:13] GhaziTriki opened #188 "Improve contributions guidelines"
Related to what have been shared during the "BigBlueButton Developers Community Hackathon 2020", some new improvements are needed. I will handle them.

[2020-08-30 18:27] lonesomewalker opened #189 "Storage example for Greenlight has an = too much at the end"
https://docs.bigbluebutton.org/greenlight/gl-config.html#updating-from-version-prior-to-27

Example says:
[code]

Working example should be:
[code]

Sorry for not sending a pull request, but currently travelling without equipment.

[2020-08-31 13:50] farhatahmad commented on #189
Good catch and thank you for reporting it

[2020-08-31 14:15] #189 closed

[2020-09-05 08:09] matiasilva opened #192 "Book keeping: third party integrations"
This is a list of existing community-sourced third party integrations for BigBlueButton. For now, it's just a list until a section for this is created.

Recording & live streaming:

* RTMP, recording to one file (has Docker): https://github.com/jibon57/bbb-recorder
* RTMP streaming (Docker): https://github.com/aau-zid/BigBlueButton-liveStreaming
* Post-publish script for rendering to one file: htt

[2020-09-08 07:40] hex-m commented on #192
Frontends: Moodle, OpenOLAT ([german release notes](https://confluence.openolat.org/display/OO152DE/Release+Notes+15.0#ReleaseNotes15.0-BigBlueButtonIntegration))

Recording: [Opencast Integration](https://github.com/elan-ev/opencast-bigbluebutton-integration)

[2020-09-08 12:36] matiasilva commented on #192
Thanks @hex-m!!

[2020-09-08 16:36] mk-hs opened #193 ""Reduce bandwidth for webcams" instructions invalidated by BBB update"
With BigBlueButton 2.22, dynamic video profiles were introduced and as a result several cameraprofiles were added in front of the existing profiles in `/usr/share/meteor/bundle/programs/server/assets/app/config/settings.yml`

The [instructions ](https://docs.bigbluebutton.org/2.2/customize.html#reduce-bandwidth-for-webcams)for reducing webcam bandwidth describe a way to automatically reduce the ba

[2020-09-08 17:25] pedrobmarin commented on #192
https://github.com/mconf has a dozen of public bbb-related projects including things like https://github.com/mconf/api-mate & https://github.com/mconf/bigbluebot.

[2020-09-08 17:42] ffdixon commented on #192
This list is looking good -- go ahead and open a pull request for updating the docs when your ready.

[2020-09-09 17:36] stefantruehl commented on #192
We recently developed a substitute for greenlight and Scalelite as an integrated portal for large scale deployment - called BBB@Scale. Just in case you want to add this on the list: https://gitlab.com/bbbatscale/bbbatscale

A comparison of all three tools can be found here: https://gitlab.com/bbbatscale/bbbatscale/-/blob/master/Documentation/compare-to-scalelite-greenlite.md

We are currently plan

[2020-09-10 08:09] matiasilva commented on #192
@stefantruehl many thanks, this is already on the list under frontends :)

[2020-09-10 08:37] hex-m commented on #192
There is already a [section](https://bigbluebutton.org/integrations/) for this on the website. This should be merged I think.

[2020-09-12 19:06] matiasilva commented on #192
Not all of these are LMS integrations so I don't believe it should be merged.

[2020-09-15 06:50] lonesomewalker commented on #192
@stefantruehl sorry, your comparison list is totally wrong.
How do you want to compare Greenlight with Scalelite? Totally different products (frontend vs. backend) so they can't be compared.

Sure, BBB@Scale has some nice features but one of the biggest disadvantages is the multi-server scenario in Moodle :-(
I know that your university is different from others ;-)

[2020-09-15 07:40] hex-m commented on #192
The LMS Stud.IP can also [integrate BBB](https://github.com/virtUOS/studip-meeting).

And there is a [Widget](https://github.com/turt2live/matrix-dimension/pull/367) (in early dev stages) that can integrate BBB Meetings into Matrix Rooms.

[2020-09-15 08:31] Puschek commented on #192
@lonesomewalker Could you explain what do you mean with "multi-server scenario"? The Moodle Plugin only allows you to connect one url. BBB@Scale is distributing the request to the corresponding server based on the tenant provided with the url.

[2020-09-25 15:19] lonesomewalker opened #194 "Documentation for 3 instances of Kurento is wrong"
When following this:
https://docs.bigbluebutton.org/2.2/customize.html#run-three-parallel-kurento-media-servers

Still only one instance is available.
Is this ONLY in 2.2.24 or up to later versions?

[2020-09-25 15:29] ffdixon commented on #194
Fixed.

[2020-09-25 15:29] #194 closed

[2020-09-25 22:34] lonesomewalker commented on #194
Unfortunately, when applying this like in the documentation, i still can't see 3 instances:

`
root@bbb ~ # netstat -tulpen | grep kur
tcp6       0      0 :::8888                 :::*                    LISTEN      113        470948      7207/kurento-media-
`

Either the documentation is wrong, or bbb-install.sh doesn't prepare the server for this :-/

[2020-09-25 22:35] ffdixon commented on #194
Currently, `bbb-install.sh` doesn't setup a server with three Kurentos.  It could (and probably should).

[2020-09-25 22:37] lonesomewalker commented on #194
So, when using bbb-install.sh this should generate a default installation, right?
No 3 servers.

Then applying the "enable", and bbb-conf --restart should spawn 3 instances?

Unfortunately, it doesn't.
Watching this on over 500 machines so far :-/

[2020-09-25 22:47] lonesomewalker commented on #194
Okay, just a quick look in /etc/bigbluebutton/bbb-conf/apply-lib.sh says, the insertion of /etc/bigbluebutton/bbb-conf/apply-config.sh won't work this way, because it will be inserted in not_Called() which won't be called.

I didn't dive deeper, but as i understand in this quick look, there won't be a call to spawn 3 instances?

Please correct me :-)

[2020-09-25 22:56] lonesomewalker commented on #194
Okay, now i know what is wrong :-)
The documentation should be much clearer about HOW to do this.
It is not a plain "write enableMultipleKurentos to apply-config.sh" ;-)

[2020-10-22 12:28] #193 closed

[2020-11-02 15:19] bilias opened #202 "firewall open ports"
The open ports according to: https://docs.bigbluebutton.org/install#configure-your-firewall
TCP ports 80, 443, 1935, and 7443
UDP ports in the range 16384 - 32768

According to: https://docs.bigbluebutton.org/install#minimum-server-requirements
TCP ports 80, 443,and 1935 are accessible
TCP port 7443 is accessible if you intend to configure SSL (recommended); otherwise, port 5066 is accessible
UDP

[2020-11-02 19:07] lonesomewalker commented on #202
If you are using a recent version (without Flash clients), the following ports should be enough:
TCP: 80 & 443
UDP: 16384 - 32768 (can be configured individually)

SSH is optionally needed if you need remote access.

[2020-11-02 19:11] bilias commented on #202
I use 2.2.28
How about freeswitch ports? (5066/7443)

not even 1935/red5 ?

[2020-11-02 21:04] basisbit commented on #202
1935 is not needed and the freeswitch ports should not be accessible from the internet - if needed for sip phone call-in, use fail2ban for sip and iptables/ufw rules to only allow new connections from the IP address space of your SIP call-in provider.

[2020-11-16 14:35] hex-m commented on #192
- Nextcloud as a BBB-Frontend: https://github.com/sualko/cloud_bbb/
- There was a Frontend implemented for the Linux Plumbers Conference 2020. Details, link to source and a screenshot in this [article](https://lwn.net/Articles/830436/).

[2020-11-19 14:36] #169 closed

[2020-11-23 15:57] ichdasich opened #206 "Adjust documentation for 'multipleKurento' to mention changes to WebRtcEndpoint.conf.ini"
When enabling three kurento servers, the activation hook in-place edits WebRtcEndpoint.conf.ini to correctly set pemCertificateRSA=. Depending on the automation around apply-config.sh, this may lead to a situation where WebRtcEndpoint.conf.ini is rewritten after it has been changed by the apply-config hook. (Related to https://github.com/bigbluebutton/bigbluebutton/issues/10881)

To prevent this s

[2020-12-01 13:06] bilias opened #211 "document lockSettingsHideUserList in API"
lockSettingsHideUserList option is not documented on https://docs.bigbluebutton.org/dev/api.html#create

[2020-12-10 23:04] caminsha opened #215 "404 link in "Upgrading from BigBlueButton 2.2""
As I went through the docs I've found a dead link.

If you'll go [this](https://docs.bigbluebutton.org/2.2/install.html#upgrading-from-bigbluebutton-22) link you'll see the following text:

The link in this section gives me a 404 error.

As I dont' really know where this link should point to I didnt' fix it myself and it would be great if you'll fix this.

[2020-12-10 23:14] ffdixon commented on #215
Thanks for pointing this out -- fixed the broken link.

[2020-12-10 23:14] #215 closed

[2020-12-10 23:15] caminsha commented on #215
Thanks.

[2021-01-20 10:49] hex-m commented on #211
There are multiple new settings that are not yet in the documentation. e.g. `breakoutRoomsEnabled`.

I think the current list of available API calls would be [this](https://github.com/bigbluebutton/bigbluebutton/blob/develop/bbb-common-web/src/main/java/org/bigbluebutton/api/ApiParams.java).

[2021-01-20 12:24] ffdixon commented on #211
Thanks for pointing this out.  We'll update the docs.

[2021-01-28 13:19] hex-m commented on #211
Comparing the [list](https://github.com/bigbluebutton/bigbluebutton/blob/develop/bbb-common-web/src/main/java/org/bigbluebutton/api/ApiParams.java) in the source with the [parameters-table](https://github.com/bigbluebutton/bigbluebutton.github.io/blob/master/_posts/2015-04-05-api.md#create) for the create call - this is the diff:

[code]

[2021-01-30 12:34] sualko commented on #211
@hex-m I think does parameters are not only related to the create endpoint. E.g. `password` and `fullName` are part of the join call.

[2021-02-19 16:57] #211 closed

[2021-02-22 11:07] znerol commented on #126
@ffdixon I'd be super happy if we could remove instructions for the dummy NIC before BBB 2.3 and instead fix the default FreeSWITCH config such that it works properly behind a NAT. You need to introduce the following line in `sip_profiles/external.xml` in order to ensure that FreeSWITCH advertises its external IP during ICE negotiation:

[code]

[2021-02-22 11:59] ffdixon commented on #126
Thanks @znerol -- we'll be looking at this as we move along the 2.3-dev cycle.

[2021-04-05 14:06] devZer0 commented on #126
is there an update/status on this? thank you!

[2021-04-05 19:53] ffdixon commented on #126
I think we just need to test this on our end and we'll make the changes. Thanks again for submitting this.

[2021-04-06 14:49] bbbondemand opened #242 "API docs error - getMeetingInfo"
If nobody disagrees with this - I will raise a PR

https://docs.bigbluebutton.org/dev/api.html#getmeetinginfo claims that if the meeting is a breakout room, it will return a link to the parent meeting like this:

[code]

But in fact, it returns the fields without the <breakout> element.

[code]

[2021-04-06 14:56] bbbondemand opened #243 "API docs correction getRecordings"
The AP documentation for https://docs.bigbluebutton.org/dev/api.html#getrecordings

The example response has three missing fields:

<size> appears twice, once under recordings and again under format.
<rawSize>
<data/>

If anyone could comment what data type <data/> is I would be grateful - I have not seen this populated but the empty field is returned.

[2021-04-07 22:09] lonesomewalker commented on #192
### Simple PHP dashboard:
https://github.com/lonesomewalker/bbb-dashboard

[2021-04-08 10:35] liske commented on #192
## B3LB

https://github.com/DE-IBH/b3lb

A open source BigBlueButton API load balancer similar to Scalelite. It is designed to work in large scale-out deployments with 100+ BigBlueButton nodes and high attendee join rates.

[2021-04-08 13:17] fireba11 opened #244 "docs to upgrade greenlight's postgres got a few small errors"
https://docs.bigbluebutton.org/greenlight/gl-config.html#upgrading-postgresql-versions

I tried to make a pull request for it but i cound not find the version currently displayed on the website?

Upgrade expects you to be root for some commands, while otheres use sudo ...

[2021-04-08 13:45] basisbit commented on #244
sudo or being root both does the same. sudo is just a tool to execute something with the permissions of root (or other users)

[2021-04-08 14:11] fireba11 commented on #244
@basisbit not my point. some lines like 'docker-compose down' need to be run as root where the next lines use sudo. I wanted to clean up those little inconsistencies, so either have sudo everywhere needed or just ad a note "do this as root" in the beginning and remove the sudos

[2021-05-10 15:16] fireba11 opened #251 "docs.bigbluebutton.org still shows v2.2"
The new v2.3 got released a couple days ago, and since 2.2 is based on ubuntu 16.04 which is EOL there will probably never be another bugfix release for it. Hence 2.3 should move from 2.3-dev to default and get some upgrade guide (or advise to backup greenlight DB if in use and recordings and do a clean install ...).
It's likely someone is already working on this but since there was no issue track

[2021-05-10 15:43] ffdixon commented on #251
I'm working on it!  There will be an update to the docs within the next day or two.

[2021-05-12 16:59] antobinary opened #254 "2.3: html5 client: Document local override of locales - using the public dir rather than private"

[2021-05-12 17:00] antobinary opened #255 "2.3: Update development instructions to use /etc/bigbluebutton override instead of settings files"

[2021-05-12 17:01] antobinary opened #256 "2.3: Update architecture diagrams"
Current ones relate to Flash client.
They also precede the multiple bbb-html5 nodejs (2.3) and multiple kurento (2.2/2.3)

[2021-05-12 17:02] antobinary opened #257 "Update http links to https"

[2021-05-12 17:16] antobinary opened #258 "2.3: Update dev instructions for user 'bigbluebutton' for easier bbb-web dev"
As of BigBlueButton 2.3 development of bbb-web component requires jumping through hoops unless you are working as Ubuntu user 'bigbluebutton'. We want to update all relevant docs to recommend user 'bigbluebutton' over 'firstuser' so this is handled.

[2021-05-14 12:11] mk-hs commented on #251
The install link in the footer of bigbluebutton.org is still pointing to 2.2 as well, perhaps you can switch it to 2.3 once it's ready :)

[2021-05-22 02:13] antobinary opened #260 "Unify firewall instructions"
Currently there are 3 different firewall sections. Pick one or combine the info so only one section remains

https://docs.bigbluebutton.org/2.2/configure-firewall

https://docs.bigbluebutton.org/2.2/customize.html#setup-a-firewall
https://docs.bigbluebutton.org/2.2/customize.html#setup-firewall

[2021-06-07 10:59] hiroshisuga opened #266 "Turn server setup - needs opening tcp/80?"
At https://docs.bigbluebutton.org/2.2/setup-turn-server.html#generating-tls-certificates , for generating certificate, the reader runs the following command:

$ sudo certbot certonly --standalone --preferred-challenges http -d <turn.example.com>

This need a open tcp/80 port. Would "sudo ufw open http" be necessary in case they set up firewall?

[2021-06-07 14:52] basisbit commented on #266
The documentation is written, so that the firewall only gets configured / enabled after the user did execute the certbot.

In general, the documentation is written to be used by server administrators. Someone who doesn't know how to temporarily open and close a port for such a task should not get support for installing a BBB server (just my personal opinion)

[2021-06-07 15:43] lonesomewalker commented on #266
As much as i agree with basisbit (i also hate misconfigured spam servers), i also think the documentation should be more open for "starters".

[2021-06-07 22:42] hiroshisuga commented on #266
Believe or not, the documentation is already written so well that even an unskilled people can setup everything, and that's why you experts are kept busy with troubleshooting ;-)

Agreed, and that's how the problem (in fact it was mine) comes. Usually a user would go through all the steps including the initial certbot execution without problems, and then forgets that it needs tcp/80 and later conf

[2021-06-07 23:08] basisbit commented on #266
@hiroshisuga tcp/80 should NOT be opened continuously, but instead should only be opened on demand for the certbot (and only if necessary), and then be closed again.

[2021-06-09 14:29] #266 closed

[2021-06-09 19:56] antobinary commented on #251
Thanks for pointing this out! Looks like Fred has fixed this since!

I did some work on the docs the last two days and I think this issue can be now closed. I am opening a few additional issues to update specific parts of pages.
Please open issues or send PRs if you encounter spots that still need updating or are missing altogether!

[2021-06-09 19:56] #251 closed

[2021-06-09 20:00] antobinary opened #274 "Update 2.3 Accessibility page"

[2021-06-10 07:28] Tarekajaj opened #275 "2.3 Missing Customization page"
in 2.2 we had this page where it has all the customization options including options and custom parameters we can pass to html5 client when joining in a user
https://docs.bigbluebutton.org/2.2/customize.html

http://web.archive.org/web/20210128082700/https://docs.bigbluebutton.org/2.2/customize.html#passing-custom-parameters-to-the-client-on-join

This page is missing completely in the latest docu

[2021-06-10 16:37] antobinary commented on #275
Customize was moved under Administration
https://docs.bigbluebutton.org/admin/customize.html

It is relevant for 2.3 and 2.4 too, so it made sense to relocate it under Administration. Please let us know if I forgot to change some link to the page...

[2021-06-10 16:38] antobinary opened #276 "Update Admin->Customize instructions to use /etc/bigbluebutton override instead of settings files"

[2021-06-10 21:21] antobinary opened #280 "Add WebRtcEndpoint.conf.ini to config files (Kurento)"
`/etc/kurento/modules/kurento/WebRtcEndpoint.conf.ini`

[2021-06-11 06:24] #275 closed

[2021-06-21 00:44] colfes opened #287 "Missing documentation for OpenID Connect"
Unfortunately, there is no documentation on how to use OpenID Connect.

In the initial commit for bigbluebutton/greenlight#1399 there was documentation mentioned
(For in-depth steps on setting up a OpenID Connect Login Provider, see: https://docs.bigbluebutton.org/greenlight/gl-config.html#openid-connect). Now, the docs.bigbluebutton.org site does not mention openid-connect settings.
Without furth

[2021-06-21 09:15] mherrb opened #288 "the certificate for bigbluebutton.org has expired"
Firefox says, when connecting to https://bigbluebutton.org/ :

Websites prove their identity via certificates, which are valid for a set time period. The certificate for bigbluebutton.org expired on 6/21/2021.

Error code: SEC_ERROR_EXPIRED_CERTIFICATE

[2021-06-21 10:31] mherrb commented on #288
Apparently  it has been renewed now.

[2021-06-21 10:31] #288 closed

[2021-06-21 10:34] ffdixon commented on #288
Fixed -- thanks!

[2021-07-05 12:06] ichdasich commented on #287
I have setting up OIDC on my todo; Will try to write docs along the way (well, have to anyway for internal).

[2021-07-05 15:19] antobinary commented on #274
Closed via https://github.com/bigbluebutton/bigbluebutton.github.io/pull/285

[2021-07-05 15:19] #274 closed

[2021-07-05 15:20] antobinary commented on #256
Closed via https://github.com/bigbluebutton/bigbluebutton.github.io/pull/277

[2021-07-05 15:20] #256 closed

[2021-07-12 11:29] JeanPluzo opened #293 "Configure TURN - systemd override file needs to be changed"
According to the docs, the override file in `/etc/systemd/system/coturn.service.d` should have the following line:
`ExecStart=/usr/bin/turnserver --daemon -c /etc/turnserver.conf --pidfile /run/turnserver/turnserver.pid --no-stdout-log --simple-log --log-file /var/log/turnserver/turnserver.log`
However, after a few hours of pulling my hair, I found out the `--daemon` (or `-o`) switch is not needed

[2021-07-20 18:32] ichdasich commented on #287
Suggestion:

To configure OpenID for Greenlight, you have to add the following entries to your `.env`:

[code]

[2021-07-21 01:15] ffdixon commented on #287
Thanks @ichdasich.

[2021-07-21 08:32] ichdasich commented on #287
Ah, forgot to change one url in the item; Updating.

[2021-07-21 13:51] kepstin commented on #293
The instructions provided are to match the coturn package from the Ubuntu package repository. In that package, the systemd service file has a line:
[code]
And to match that configuration, you need to use the `--daemon` option on the turnserver command line.

If you're using a different package source that provides a different systemd unit, then the configuration example we provide might not match.

[2021-07-29 07:46] JeanPluzo commented on #293
Thanks for your input @kepstin,
you're right, I did use a different package than the one provided by the 20.04 repositories. However, it would be nice to maybe point it out in the documentation? I know there are many configurations possible and one cannot take into account every possible turnout. But it would've helped me a lot and saved a lot of time. I really couldn't find any info regarding the

[2021-07-29 10:19] ffdixon commented on #293
Hi Jean,

If you could send us a pull request for updating the docs with what you found, that would be helpful.  See https://github.com/bigbluebutton/bigbluebutton.github.io

[2021-10-18 23:58] rabser opened #315 "Additional recording formats documentation is missing a required step."
**Describe the bug**
In the documentation pages, at section https://docs.bigbluebutton.org/2.3/install.html#installing-additional-recording-processing-formats the instructions do not mention a required "systemctl restart nginx" after installing the additional recording formats.

**Installation type**
 bbb-install script?

**Symptoms**
when trying to listen/view/download an additional recording for

[2021-10-19 00:37] ffdixon commented on #315
Change the instructions to now required restart of BigBlueButton `sudo bbb-conf --restart` which will ensure the nginx changes are picked up.

[2021-10-21 14:47] fireba11 opened #317 "improve example for adding phone number"
the example to add a phone line for dialin doesn't allow to dial into brak out rooms (https://github.com/bigbluebutton/bigbluebutton/issues/9478) and has a rather short timeout

[2021-10-30 10:27] bkmgit opened #322 "Improve Accessibility Shortcut key documentation"
Improve the Alt text on https://docs.bigbluebutton.org/2.3/html5-accessibility.html :
- many of the entries are "Contrast Ratio Calculator"
- Use a table rather than an image for keyboard shortcuts
- Keyboard short cuts should have Shift key as well see for example https://webaim.org/techniques/keyboard/accesskey

[2021-10-30 14:17] #322 closed

[2021-12-18 19:23] #317 closed

[2021-12-20 16:30] sakky27 opened #335 "Moderator mute all users"
As per the document :

Expected output: Moderators once mute all the users. The users should not be able to unmute themselves when the settings are being applied and the new user (who joins the meeting afterwards) should not be able to see the microphone option.

Issue: The users can unmute themselves even when they have been unmuted by the moderator and the new user is able to see the options to

[2021-12-20 16:44] #335 closed

[2021-12-22 17:19] antobinary opened #339 "2.4 Update accessibility page"
Afaik it's different than what we had on 2.3

@KDSBrowne knows the details
@ffdixon has the official doc(s)

[2022-01-04 14:06] antobinary commented on #339
Thanks Fred! https://github.com/bigbluebutton/bigbluebutton/issues/14001

[2022-01-05 16:26] antobinary commented on #339
Thanks @KDSBrowne https://github.com/bigbluebutton/bigbluebutton.github.io/pull/341

[2022-01-05 16:26] #339 closed

[2022-02-03 17:39] antobinary opened #354 "Document presentation upload params"
`removable`
`downloadable`

PR: https://github.com/bigbluebutton/bigbluebutton/pull/14173

Ideal destination https://docs.bigbluebutton.org/dev/api.html#pre-upload-slides

[2022-02-03 21:54] antobinary commented on #254
Done in https://github.com/bigbluebutton/bigbluebutton.github.io/pull/355/files

[2022-02-03 21:54] #254 closed

[2022-02-03 21:56] antobinary opened #357 "Revisit FAQ and especially Process"
Lots of obsolete info, including links ot localization which are pointing to old pages

[2022-02-24 11:52] hex-m opened #364 "branding/logo documentation incomplete"
The [documentation](https://docs.bigbluebutton.org/admin/customize.html#show-a-custom-logo-on-the-client) on configuring a logo is light on details imo.

* It should probably be noted, that Greenlight doesn't support setting a logo. (or does it?)
* `displayBrandingArea: true` is the default, so it's not necessary to mention it.
* `logo` is missing in the [API documentation](https://docs.bigbluebut

[2022-03-30 15:53] antobinary opened #381 "[2.6] API password is deprecated, phased out"
Motivation: https://github.com/bigbluebutton/bigbluebutton/issues/14335
https://github.com/bigbluebutton/bigbluebutton/pull/14668 was merged in BBB 2.4 (2.4.6)

In BBB 2.6 (to allow for transition period) we should reflect the change in the API, namely that the password field is gone

[2022-04-04 20:22] antobinary opened #382 "Document meta_analytics-callback-url in api"
Should document create parameter `meta_analytics-callback-url` introduced in https://github.com/bigbluebutton/bigbluebutton/pull/10080
What does it do? Sample usage?

[2022-04-04 21:42] ffdixon commented on #382
Yes :-)

[2022-05-09 19:37] GuiLeme opened #388 "Possible error in sed command while installing greenlight following docs."
## What is happening.

In the section for [installing greenlight](https://docs.bigbluebutton.org/greenlight/gl-install.html#using-docker-compose) there is the following command:

[code]

The problem is that the `$(openssl rand -base64 24)` part of the command can generate a `/` character, which will enter in conflict with the slashes already from the `sed -i` command.

### My suggestion:

Replace

[2022-05-10 14:09] farhatahmad commented on #388
Hi @GuiLeme - thats a good catch. We could change it to `openssl rand -hex` or try to pull out the `/` before passing it on. What do you think?

[2022-05-10 14:22] GuiLeme commented on #388
So, about the `openssl` I think that it could do the trick, but we would have to install this `openssl` package in the docker, right?

About the other Idea: you mean pulling `/` out by removing it from the newly generated string, isn't it?

[2022-05-10 15:16] farhatahmad commented on #388
Yes please - If you switch to `hex` you won't need the `\` solution since hex is only `a-f` and `0-9`

[2022-05-10 20:00] #388 closed

[2022-05-23 07:52] MBM1607 opened #393 "Typo in Markdown in Documentation"
https://docs.bigbluebutton.org/2.5/dev.html#recommended-on-linux-host-we-highly-recommend-using-docker-dev

![Screenshot 2022-05-23 at 12-47-15 BigBlueButton Development](https://user-images.githubusercontent.com/47133639/169770463-aace7fa8-65eb-47ea-b95e-6b08173aee7b.png)

[2022-05-23 11:50] ffdixon commented on #393
Thanks!  Fixed in https://github.com/bigbluebutton/bigbluebutton.github.io/commit/0bf78493ce1d7cb91a63562b82b15247b50988f0.

[2022-05-23 11:50] #393 closed

[2022-06-08 08:29] rm-code opened #394 ""Join" Documentation error?"
Shouldn't this section say "There is only an XML response for this call if the redirect parameter is set to `false`" (instead of `true`)?

![image](https://user-images.githubusercontent.com/11627131/172568907-4ed77d42-f706-4b2a-b851-01670c9cbb47.png)

[2022-06-08 10:58] ffdixon commented on #394
Thanks -- we'll review.

[2022-06-10 01:33] gustavotrott commented on #394
You are right @rm-code.
I just sent a fix for it! Thanks

[2022-06-10 13:20] #394 closed

[2022-06-24 18:09] antobinary commented on #258
Done for 2.5 and 2.6

[2022-06-24 18:09] #258 closed

[2022-06-24 18:39] antobinary opened #405 "Update Connect BigBlueButton to an external FreeSWITCH Server"
Used to be

[code]

Change `freeswitch.esl.host` to point to your external FreeSWITCH IP address. Change the default `freeswitch.esl.password` to the ESL password for your server.

You can use http://strongpasswordgenerator.com/ to generate passwords.

In your external FreeSWITCH server, edit `/opt/freeswitch/conf/autoload_configs/event_socket.conf.xml`.

[code]

Change the `listen-ip` to your ext

[2022-06-24 19:10] antobinary opened #408 "Remove red5 related documentation (that is still in use)"
Keep it in old release notes, references, etc.

Drop it from any current or forward looking docs - dev/install/support/api, ...

[2022-07-19 08:27] MBM1607 opened #413 "Broken Links on Support Pages"
Version 2.2 installation guide is linked from multiple pages but it is not longer available.

## Pages
https://docs.bigbluebutton.org/support/release-notes.html
https://docs.bigbluebutton.org/admin/configure-firewall.html
https://docs.bigbluebutton.org/admin/customize.html#apply-confsh
https://docs.bigbluebutton.org/support/getting-help.html
https://docs.bigbluebutton.org/support/road-map.html

[2022-07-19 08:31] MBM1607 commented on #413
I can take this up, but need clarification on what link to replace this with?

Should I use 2.5 link https://docs.bigbluebutton.org/2.5/install.html?

or should I use the generic https://docs.bigbluebutton.org/install/install.html?

[2022-07-19 09:04] MBM1607 opened #414 "Link issue in install page for 2.5"
Link is added as bare text instead of hyperlink.

![image](https://user-images.githubusercontent.com/47133639/179711733-aed318e5-6099-402e-a412-aa04dc97e139.png)

[2022-07-25 13:56] #414 closed

[2022-07-26 18:37] mariogasparoni opened #416 "Add information about new closed captions"
**Chore description**
Inform about:
 - how does it work
 - browser's support

**Additional context**
https://developer.mozilla.org/en-US/docs/Web/API/SpeechRecognition#browser_compatibility

cc @pedrobmarin

[2022-09-15 08:42] JoKeyser opened #430 "FAQ: Should questions not end with a question mark?"
This may be nitpicky, but most questions in the FAQ don't have a question mark at the end.
Is this a conscious choice, or would a PR be welcome?

[2022-09-20 15:15] hex-m opened #432 "2.5 pre-installation-checks feedback"
I went through that section and noticed the following:

On Ubuntu 20.04 there is also the `LANGUAGE` variable shown here. It's unclear if that should be removed or changed to some specific value.

typo. lest -> least

typo. IPV6 -> IPv6

In general checking memory, OS-version, 64-bit kernel, kernel version, IPv6 support and number of cores should probably be done by `bbb-install.sh`. That would ma

[2022-09-20 17:29] ffdixon commented on #432
Fixed the typos https://github.com/bigbluebutton/bigbluebutton.github.io/commit/66dac98eadfdd76ff6d153db2067b0b26da7ca0c, will look into the `LANGUAGE` string.

[2022-10-13 11:12] paulmenzel commented on #413
Please use the generic one.

[2022-10-13 12:12] ffdixon commented on #413
The generic one

  https://docs.bigbluebutton.org/install/install.html

Will link you to the latest install docs (in this case 2.5).

[2022-10-21 13:16] GhaziTriki opened #448 "Add documentation for "supportedChecksumAlgorithms""
https://github.com/bigbluebutton/bigbluebutton/pull/15879

[2022-11-10 08:07] GhaziTriki opened #460 "meetingExpireWhenLastUserLeftInMinutes is available since 2.4"
Some fixes are required https://docs.bigbluebutton.org/dev/api.html#create

https://github.com/bigbluebutton/bigbluebutton/blob/v2.4.9/bigbluebutton-web/grails-app/conf/bigbluebutton.properties

[2022-11-10 16:32] mbunkus commented on #126
I've just spent several hours banging my head against the wall trying to get BBB behind NAT working, without much success — until I stumbled across this issue. I do not use a dummy network interface as I've configured my firewall to redirect traffic from BBB's internal IP to BBB's external IP back to its internal IP, meaning that part of the communication works just fine — but then the ACL thingy

[2022-11-10 18:00] znerol commented on #126
This should actually be solved in 2.5 via bigbluebutton/bigbluebutton#11846

[2022-11-10 18:39] mbunkus commented on #126
@znerol uhm… the server I was talking about was installed two days ago, with the official installation script. I followed the existing "behind NAT/firewall" documentation. `tcpdump` on port 5060 & Firefox's `about:webrtc` confirmed that the internal IP was still sent.

Then I found this issue, looked at `sip_profiles/external.xml`, changed the existing `<param name="local-network-acl" value="local

[2022-11-11 03:59] ffdixon commented on #126
Hi @mbunkus -- just saw this.  Thanks for sharing.  We'll update the docs tomorrow.

In the meantime, if you want to send us a pull request to https://github.com/bigbluebutton/bigbluebutton.github.io to update the docs, we're 99.997% sure to merge it right away :-).

[2022-11-11 09:46] mbunkus commented on #126
@ffdixon Sure, done. I've only added the note about the `local-network-acl` change — I don't feel confident enough removing the whole dummy NIC section & replacing it with a thorough explanation of how to configure firewalls/routers properly for bouncing locally-originating connections to the external IP back to the internal IP.

However, the change to `local-network-acl` should be OK for both cas

[2022-11-11 09:59] znerol commented on #126
Point is: Nothing of that is actually necessary. The only requirement for FreeSWITCH in BBB context to work behind a NAT device is that the ports remain unchanged (sometimes called 1:1 NAT). That's it really.